<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/tsiswaryalakshmi/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <MyGet>
      <add key="Username" value="tsiswaryalakshmi" />
      <add key="ClearTextPassword" value="Githubtest1" />
    </MyGet>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="github" value="https://nuget.pkg.github.com/tsiswaryalakshmi/index.json" />
  </activePackageSource>
</configuration>
